<div class="container">
  <h3>Parent component</h3>
  <div class="panel panel-primary">
    <div class="panel-body">
      <form [formGroup]="taskForm">
        <div class="form-group">
          <label class="col-md-4">Task id {{counter$ | async}}</label>
          <input type="text" class="form-control form-control-sm" formControlName="taskId" readonly />
        </div>
        <div class="form-group">
          <label class="col-md-4">Task name</label>
          <input type="text" class="form-control form-control-sm" formControlName="taskName" />
        </div>
        <div class="form-group text-center pt-2 pb-2">
          <button (click)="save()" type="button" class="btn btn-primary">Add Task</button>
        </div>
      </form>
    </div>
  </div>
  <app-child></app-child>
  <hr>
  <app-create></app-create>
  <app-read></app-read>
</div>